.sidebar{
  background-color: rgba(211, 211, 211, 0.2);
  height: 100%;
  width: 280px;
  position: fixed;
}

@media screen and (max-width: 767px) {
  .sidebar{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar{
    width: 80px;
    position: fixed;
  }
}