@import "../../variables/mixin.scss";
@import "../../variables/variable.scss";

.cardHeader {
  @include cardHeaderMixin;
}

.productTable{
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.textContent {
  text-align: left;
  font-size: 13px;
}

.tableTitle{
  color: #d4d4d4;
  text-align: left;
}

.productTable td {
  cursor: pointer;
}

.productRow:hover {
  background-color: orange;
}