@import "../../variables/mixins.scss";
@import "../../variables/variables.scss";


.filledButton {
    background: orange !important;
    font-size: 16px !important;
    padding: 0.8rem 2rem !important;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: $standard-radius;
    @include absolute-flex-cent;
    gap: $standard-value;
    cursor: pointer;
}

.filledButton:hover {
    text-decoration: underline;
}