@import "../../variables/variable.scss";
@import "../../variables/mixin.scss";

.row {
    @include row;
}

.mainCol {
    width: 65%;
}

.rightCol {
    width: 35%;
}

.insideCard{
    padding: 1rem;
}