@import "../../variables/variable.scss";
@import "../../variables/mixin.scss";


.cardHeader {
  @include cardHeaderMixin;
}

.orderContainer {
  display: flex;
}

.noOrder {
  display: -moz-flex;
  flex-direction: column;
  @include absolute-flex-center;
  padding: $standard-gap 0 $standard-gap 0;
  gap: $standard-gap;
}