@import "./variable.scss";

@mixin absolute-flex-center {
    @include relative-flex-center;
    justify-content: center;
}

@mixin relative-flex-center {
    display: flex;
    align-items: center;
}

@mixin absolute-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@mixin validateBUtton {
    background: orange;
    font-size: 16px;
    padding: 15px 20px;
    font-family: $font-family;
    border-radius: $standard-radius;
    @include absolute-flex-center;
    gap: $standard-gap;
    cursor: pointer;
    border: none;
}

@mixin row{
    display: flex;
    gap: $standard-gap;
}

@mixin rounded-center{
    @include absolute-flex-center; 
    border-radius: 50%;
}

@mixin ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@mixin cardHeaderMixin{
    padding-bottom: $standard-gap;
    border-bottom: $border-value;
    @include relative-flex-center; 
    justify-content: space-between;
}
