$border-value: 1px solid #d3d3d3;
$standard-gap: 1rem;
$standard-radius: 0.3rem;
$font-family: "Poppins", sans-serif; 
$standard-input-padding: 0.8rem 0.5rem; 
$font-family: 'Poppins', sans-serif; 
$absolute-full-with: 100vw; 
$absolute-full-heith: 100vh; 
$standard-grey: rgba(236, 236, 236, 0.4); 
$danger: rgba(255, 0, 0, 0.3); 
$small-gap: 0.3rem; 