@import "../../variables/mixin.scss"; 
@import "../../variables/variable.scss"; 

.orderContainer {
    @include relative-flex-center; 
    justify-content: space-between;
    cursor: pointer;
    padding: 0.5rem 0 0.5rem 0;
}

.orderContainer:hover {
    background-color: orange;
}

.orderContainer p {
    font-size: 13px;
}

.orderContainerItem {
    @include relative-flex-center; 
    gap: $small-gap;
    justify-content: flex-end;
}

.statusButton {
    display: flex;
    gap: $small-gap;
    border: $border-value;
    border-radius: $border-value;
    padding: $small-gap;
}

#nameId {
    @include ellipsis; 
    -webkit-line-clamp: 1;
}

@media screen and (max-width: 450px) {
    #priceContainer {
        display: none;
    }
}