@import "../../variables/mixin.scss"; 
@import "../../variables/variable.scss"; 

.orderContainer{
    cursor: pointer;
}

.orderContainer td{
    padding: 0.5rem 0 0.5rem 0;
}

.orderContainer:hover {
    background-color: orange;
}

.orderContainer p {
    font-size: 13px;
}


#nameId {
    @include ellipsis; 
    -webkit-line-clamp: 1;
}

@media screen and (max-width: 450px) {
    #priceContainer {
        display: none;
    }
}