@import "../../variables/mixin.scss"; 
@import "../../variables/variable.scss"; 

.verticalFlex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.locationTitle{
    @include ellipsis; 
    -webkit-line-clamp: 1;
    font-weight: bold;
}

.sideBarFlex a {
    font-weight: lighter;
}

.sideBarFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: $standard-gap;
}

.sideBarFlex hr {
    width: 200px;
}

.listTile {
    display: flex;
    gap: $standard-gap;
    padding: 1rem 2rem;
}

.companyIntro {
    display: flex;
    gap: $standard-gap;
    padding: 1rem 2rem;
    align-items: center;
    cursor: pointer;
}

.listTile:hover, .companyIntro:hover {
    background-color: orange;
    color: #ffffff;
}

.imageContent {
    object-fit: cover;
    border-radius: 20%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sideBarFlex {
        display: none;
    }
    .mobileSideFlex {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
    }
    .verticalFlex {
        justify-content: center;
        align-items: center;
        gap: $standard-gap;
    }
.listTile{
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    .mobileSideFlex {
        display: none;
    }
}