@import "../variables/mixins.scss";
@import "../variables/variables.scss"; 

.productCount {
  width: 120px;
  @include standardFlexSpaceBetween;
  padding: 0 1rem 0 1rem;
  border-radius: $standard-radius;

}

.productCount span {
  font-weight: bolder;
  font-size: 28px;
  cursor: pointer;
}

.productCount p {
    font-size: 22px;
}