@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 @import "../variables/variable.scss"; 

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h6{
  color: red;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover{
  color: orange;
  text-decoration: underline;
}
