.flexContainer{
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: center;
}

.flexContainer div{
  width: 50%;
}

.flexContainer p{
  text-align: center;
}

.horizontalLine{
  border: 1px solid orange;
  width: 40px;
}

.bannerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  height: 350px;
  padding: 10px;
}

.boxContainer p {
  text-align: center;
}

.contactContainer{
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 5px;
}

@media screen and (max-width: 767px){
  .flexContainer{
    flex-direction: column;
  }

  .bannerContainer{
    margin-top: 10px;
    width: 100% !important;
  }

  .bannerContainer .imageContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .gridContainer{
    grid-template-columns: 1fr;
  }
}


