@import "../variables/mixins";
@import "../variables/variables";

.desktopFlexContainer {
}

.row {
  display: flex;
  gap: $space;
}

.smallTitle {
  font-size: 22px;
  font-weight: bold;
}


.colLeft,.colRight{
  display: flex;
  flex-direction: column;
  gap: $space;
}

.colLeft  {
  width: 50%;
}
.colRight{
  width:50%;
}
.infoHeader{
  border-bottom: $border-value; 
  padding-bottom: 10px;
}

.validateButton{
  background-color: $white;
  width: 50%;
  @include borderStyle;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.infoFooter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validateButton:hover{
  background-color: orange;
}

@media screen and (max-width: 600px) {
  .row{
    flex-direction: column;
  }

  .colLeft, .colRight{
    width: 100%;
  }
}