.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  height: 70px;
  z-index: 100;
}

.bottomBarContent {
  height: inherit;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconContainer{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    vertical-align: middle;
}

.activeIcon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    vertical-align: middle;
    background: orange;
}

@media screen and (min-width: 992px) {
  .bottomBar {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .bottomBar{
    height: 70px;
  }

  .bottomBarContent{
    height: 60px;
  }
}