@import "../variables/mixins";
@import "../variables/variables";


.buttonContainer {
  @include buttonStyle;
  width: 100%;
}

.buttonContainer:hover {
  @include buttonHover;
}

.roundedButtonContainer{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% ;
  background-color: #ffffff;
  cursor: pointer;
}

.roundedButtonContainer:hover{
  background-color: orange;
}