@import "../variables/mixins";

.blur{
    position: absolute;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.title {
  width: 120px;
  @include standardTitle;
  color: $white;
}

.categoryTilte {
  width: 180px;
  text-align: center;
  @include standardTitle;
}

.thumbnailContainer {
  @include imageSize;
}

.homeCategoryContainer {
  @include horizontalFlex;
}

.categoryContainer {
  height: 220px;
  @include categoryStyle;
  z-index: 1;
}

.avCategoryContainer {
  @include categoryStyle;
  width: 170px;
  height: 200px;
}

.avatarContainer {
  width: 170px;
  height: 200px;
}

.gridContainer {
  @include min220Grid;
}

@media screen and (max-width: 767px) {
  .thumbnailContainer {
    width: 150px;
    height: 150px;
  }

  .homeCategoryContainer {
    gap: 10px;
  }

  .avCategoryContainer {
    width: 120px;
  }

  .avatarContainer {
    width: 120px;
    height: 120px;
  }

  .categoryTilte {
    width: 110px;
  }
}

@media screen and (max-width: 500px) {
  .gridContainer {
    @include mobileGrid;
  }

  .categoryContainer {
    height: 180px;
  }
}

@media screen and (min-width: 992px) {
  .categoryTitle {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .backButtonContainer {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .gridContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .categoryContainer{
    height: 170px;
  }
}
