@import "../variables/mixins";
@import "../variables/variables";

.flexContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.colLeft, .colRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.colLeft {
  width: 45%;
}

.colRight {
  width: 55%;
}

.infoHeader {
  border-bottom: solid 1px #d3d3d3;
  padding-bottom: 10px;
}

.imageContainer {
  width: 140px;
  height: 170px;
  background-color: rgb(236, 236, 236);
  position: relative;
  border-radius: 5px;
}

.infoFooter {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.payMentMode {
  padding: 20px;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.centerFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.validateButton {
  @include buttonStyle;
}

.validateButton:hover {
  background: orange;
}

.successfull {
  background-color: rgba(127, 255, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .colLeft, .colRight {
    width: 100%;
  }
}