@import "../variables/mixins.scss";
@import "../variables/variables.scss"; 

.tabHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerSearch{
    width: 400px;
}

.verticalList {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: $space;
}

.descriptionText {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  width: 100%;
}

.verticalLocation {
  display: flex;
  gap: $space;
  align-items: flex-start;
  cursor: pointer;
}

.title {
  font-size: 22px;
}

.horizontalList {
  padding: 10px 0 10px 0;
  display: flex;
  gap: $space;
  overflow: auto;
  white-space: nowrap;
}

.smallTitle {
  color: #d4d4d4;
}

.productTitle {
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
  text-align: center;
  font-size: 22px;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.locationTitle{
    font-size: 28px;
}

.contactContainer{
    display: flex;
    gap: $space;
}

.contactContainer a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}


.locationHeaderContainer{
    margin: 10px 0 10px 0;
    padding: $space;
    background: $lightgrey;
    border-radius: $standard-radius;
    display: flex;
    gap: $space;
}

.keyFigures{
    display: flex;
    gap: $space;
    margin-top: 10px;
}

.keyFigures p{
    font-weight: lighter;
    font-size: 15px;
}

.contactInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media screen and (max-width: 767px) {
.locationTitle{
      font-size: 22px;
  }


.keyFigures{
      flex-direction: column;
      gap: 0;
      margin: 0;
  }

  .locationContainer {
    width: 140px;
    height: 170px;
  }

.tabHeaderContainer{
      flex-direction: column-reverse;
      gap: $space;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 10px 0 10px 0;
  }

.innerSearch{
      width: 100%;
  }
}

@media screen and (max-width: 467px) {
  .descriptionText {
    display: none;
  }
}