@import "../variables/mixins";
@import "../variables/variables.scss";

.loginContainer {
  width: auto;
  display: flex;
  gap: $space;
  @include absoluteCenter; 
}

.logupContainer{
  display: flex;
}

.loginFormContainer {
  padding: 30px;
  width: 400px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: $space;
}

.loginForm input {
  padding: $input-padding;
  font-size: 18px;
  font-family: $fontfamily;
  @include borderStyle;
  border-radius: $standard-radius;
}

.loginForm input:focus {
  outline: none;
}

.logupFlex {
  display: flex;
}

.logupFlex {
  gap: $gap;
}

.smallInput {
  width: 30% !important;
}

.largeInput {
  width: 70% !important;
}

.submitButton {
  @include buttonStyle;
  background-color: orange;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  @include buttonHover;
}


@media screen AND (max-width: 610px) {
  #__next{
    overflow: hidden;
  }

  .loginContainer{
    width: 95%;
  }

  .loginFormContainer{
    width: 80%;
    margin: auto;
  }

}   