@import "../variables/mixins.scss"; 
@import "../variables/variables.scss"; 

.notificationContainer {
  @include absoleFLexCenter; 
  flex-direction: column;
  min-height: inherit;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.notificationDropdownContainer {
  width: 500px;
  background-color: $white;
  position: absolute;
  border: $border-value;
  padding: 10px;
  margin-top: 10px;
  z-index: 1;
  min-height: 300px;
  border-radius: $standard-radius;
  display: none;
  right: 0;
}

.notificationPage{
    width: 80vh;
}