@import "../variables/variables";
@import "../variables/mixins";

.textSearch, .searchButton {
    background: transparent;
    border: none;
}

.searchButton {
    display: flex;
    border-radius: 50%;
    background: #f3f3f3;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.textSearch {
    flex: 1;
}


.searchContainer {
    width: 400px;
    display: flex;
    background: white;
    border-radius: 25px;
}

.appBarForm {
    flex: 1;
    background: white;
    border-radius: 25px;
}

.appBarForm input {
    flex: 1;
}

.textSearch, .appBarForm input:focus {
    outline: none;
}

.appBarForm input, .appBarForm button{
    border: none;
    background: transparent;
}

@media screen and (max-width: 767px) {
    .searchContainer {
        width: 100%;
    }
}