@import "../variables/variables.scss"; 
@import "../variables/mixins.scss"; 

.emptyResult {
  @include absoleFLexCenter; 
  @include absoluteCenter; 
  flex-direction: column;
  width: 90%;
 
}

.emptyResult p {
  text-align: center;
}

