@import "../variables/variables";
@import "../variables/mixins";

.textSearch {
  padding: $input-padding;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  @include borderStyle;
  border-right-style: none;
  background: $white;
}


.searchButton {
  width: 10%;
  padding: $input-padding;
  @include searchButtonStyle;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.searchContainer {
  width: 100%;
  display: flex;
}

.appBarForm {
  width: 85%;
}

.appBarForm input {
  width: 80%;
  padding: $input-padding;
  @include borderStyle;
  border-right-style: none;
}

.textSearch, .appBarForm input:focus {
  outline: none;
}

.appBarForm button {
  width: 20%;
  padding: $input-padding;
  @include searchButtonStyle
}