@import "../variables/mixins";
@import "../variables/variables";

.flexContainer {
  display: flex;
  gap: $space;
  width: 100%;
}

.colLeft,
.colRight {
  display: flex;
  flex-direction: column;
  gap: $space;
}

.colLeft {
  width: 45%;
}

.colRight {
  width: 55%;
}

.infoHeader {
  border-bottom: $border-value;
  padding-bottom: 1rem;
}

.imageContainer {
  width: 170px;
  height: 170px;
  background-color: $backgroundrey;
  position: relative;
  border-radius: $standard-radius;
}

.infoFooter {
  display: flex;
  gap: $space;
  justify-content: flex-end;
}

.payMentMode {
  padding: $space;
  background: $backgroundrey;
  border-radius: $standard-radius;
  display: flex;
  align-items: center;
}

.centerFooter {
  @include absoleFLexCenter;
}

.validateButton {
  @include buttonStyle;
}

.validateButton:hover {
  background: orange;
}

.successfull {
  background-color: rgba(127, 255, 0, 0.5);
  border-radius: $standard-radius;
  flex-direction: column;
  @include absoleFLexCenter; 
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $space;
  gap: $space;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .colLeft,
  .colRight {
    width: 100%;
  }
}