@import "../../variables/mixin.scss";
@import "../../variables/variable.scss"; 

.settingsContainer{
    width: 850px;
    height: auto;

    .innerRow{
        display: flex;
        position: relative;
    }

    .leftCol{
        width: 210px;
        height: 100%;
    }

    .menuItem{
        @include relative-flex-center;
        gap: $small-gap;
        cursor: pointer; 
        padding: 1rem 0.5rem;
        border-radius: $standard-radius;
    }

    .mainCol{
        flex: 1;
        padding: 1rem;
    }

    .formContainer{
        height: 600px;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .inputContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: $standard-gap;

        input{
            width: 290px;
        }
    }

    .busInputContainer{
        flex: 1;
        gap: $standard-gap;
    }

    .gridInputContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $standard-gap; 
    }

    .addressInput{
        width: 100%;
        display: flex;
        gap: $standard-gap; 

        .streetName{
            flex: 1;
        }
    }

    input, textarea{
        padding: $standard-input-padding;
        font-family: $font-family;
        border: $border-value;
        border-radius: $standard-radius;
    }

    textarea{
        resize: none;
        height: 80px;
    }

    input:focus{
        outline: none;
    }

    .buttonContainer{
        display: flex;
        justify-content: flex-end;
        gap: $standard-gap;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    
}


@media screen and (max-width: 991px){
    .settingsContainer{
        width: 750px;
        .leftCol{
            width: 90px;
        }

        .menuItem{
            @include absolute-flex-center;
        }

        .menuName{
            display: none;
        }
    }
}

@media screen and (max-width: 767px){
    .settingsContainer{
        width: 95vw;
        .innerRow{
            display: flex;
            flex-direction: column;
        }

        .leftCol{
            height: 70px;
            width: 100%;

            div{
                display: flex;
            }

            .menuItem{
                width: 40px;
            }
        }

        .mainCol{
            width: 95%;
            margin: auto;
            padding: 0 0 1rem 0;
        }

        .gridInputContainer{
            grid-template-columns: 1fr;
        }

        .formContainer{
            height: 700px;
        }
    }
}




